html,
body {
  height: 100%;
  margin: 0;
}

.site-logo {
  flex: 1;
}

.title {
  display: flex;
  flex: 1;
  justify-content: center;
}

.account-section {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.header-button {
  margin-left: 10px !important;
}
