.form-errors {
  background-color: rgb(255, 210, 218);
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  align-self: center;
}

.form-error {
  text-transform: lowercase;
}

.dialog-content {
  div + div {
    margin-top: 15px !important;
  }
}
