$padding: 20px;

.project {
  margin: 30px !important;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
  min-width: 700px;
  min-height: 800px;

  .project-name {
    display: flex;
    border-bottom: 1px black solid;
    padding: $padding;

    background: #3f51b5;
    align-items: center;
  }

  .project-info {
    margin-top: 20px;
    padding: $padding;
  }
}

.project-views {
  display: flex;
  justify-content: center;
  margin: 10px;
  .views-position {
    display: flex;
    button + button {
      margin-left: 100px !important;
    }
  }
}
