.profile-box {
  //   display: flex;
  //   flex-direction: column;
  border-radius: 50px;
  border: 1px solid black;
  margin: 100px;
  padding: 30px;
}

.profile-information-title {
  margin-bottom: 50px !important;
}

.profile-entry {
  align-items: center;
  border-bottom: 1px solid black;
}

.profile-entry-name {
  font-weight: bolder;
  font-size: 20px;
}

.profile-edit-menu {
  display: flex;
  flex-direction: row;
  margin-top: 50px !important;
  button + button {
    margin-left: 20px;
  }
}
