html,
body {
  height: 100%;
}

.projets-table-title {
  text-align: center;
  margin: 50px !important;
}

.no-projects {
  text-align: center;
}

.hahaxd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
