body {
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-align-center {
  text-align: center;
}
