.grow {
  flex-grow: 1;
  flex: 1;
}

.site-logo {
  @extend .grow;
}

.title {
  @extend .grow;
  display: flex;
  justify-content: center;
}

.account-buttons {
  @extend .grow;
  display: flex;
  justify-content: flex-end;
}

.header-button {
  margin-left: 10px !important;
}
