.grow {
  flex-grow: 1;
}

.title {
  justify-content: center;
  align-items: center;
}

.account-buttons {
  align-items: center;
  justify-content: flex-end;
}

.header-button {
  margin-left: 10px !important;
}
